@import "variables";
@import "fonts";
@import "icons";

html,
body {
  height: 100%;
}

#main {
  height: 100%;
  background: lightblue;
}

.calendar {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.centre {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.whoAreYou {
	width: 200px;
  margin-top: 10%;
}

.chooseCris {
  background-image: $choose-cris-image;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 150px;
  height: 300px;
  opacity: 0.7;
}

.chooseAlex {
  background-image: $choose-alex-image;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 150px;
  height: 300px;
  opacity: 0.7;

}

.chooseUser {
	height: 300px;
  width: 300px;
}

.chooseCris:hover {
	opacity: 1;
}

.continueBtn {
  height: 34px;
  margin-left: 10px;
}

.chooseAlex:hover {
	opacity: 1;
}

.eventTextArea {
  resize: vertical;
}

.flex {
  display: flex;
}

.header {
  /* background: #EAF4FF; */
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  margin-left:5%;
  margin-right:5%;
}

.link {
  cursor: pointer;
}

.logout {
  margin-left: 10px;
}

.pound {
    margin-left: 20px;
    margin-top: 6px;
}

.navbar {
  margin-left:20px;
  margin-bottom: 0px;
}

.subheading {
  font-size: 13px;
  margin-left: 10px;
  font-style: italic;
}

.tableSplit {
  border-top: 2px solid blue;
}

.user {
  z-index: 1;
  position: relative;
  float: right;
  margin-right: 20px;
}

.username {
  margin-top: 2px;
  color: black;
}

.viewContainer {
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: white;
  padding: 20px;
  border: 2px solid black;
  border-bottom: 0;
  height: calc(100vh - 45px);
}
