@import "variables";

.completed-icon {
 @extend .glyphicon;
 @extend .glyphicon-ok-circle;
 color:  green;
 cursor: pointer;
}

.fav-icon {
 @extend .glyphicon;
 @extend .glyphicon-star;
 color:  $yellow-color;
 font-size: 15px;
}

.fav-empty-icon {
 @extend .glyphicon;
 @extend .glyphicon-star-empty;
 font-size: 15px;
}

.home-icon {
 @extend .glyphicon;
 @extend .glyphicon-home;
 font-size: 25px;
 cursor: pointer;
}

.list-icon {
 @extend .glyphicon;
 @extend .glyphicon-list-alt;
 font-size: 25px;
 cursor: pointer;
}

.calendar-icon {
 @extend .glyphicon;
 @extend .glyphicon-calendar;
 font-size: 25px;
 cursor: pointer;
}

.active-icon {
	color: rgba(100,165,0,.38);
}